@import "tailwindcss";

@theme {
  /* Primary palette */
  --color-primary-1: #665af0;
  --color-primary-2: #544bb9;
  --color-primary-3: #a69fd4;
  --color-primary-4: #f2f1f9;
  --color-primary-5: #776cf9;

  /* secondary palette */
  --color-secondary-1: #343434;
  --color-secondary-2: #898989;
  --color-secondary-3: #989898;
  --color-secondary-4: #cacaca;
  --color-secondary-5: #e0e0e0;
  --color-secondary-7: #eef0f3;

  /* Semantic palette */
  --color-semantic-1: #ff4267;
  --color-semantic-2: #ffaf2a;
  --color-semantic-3: #52d5ba;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
